.title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid white 5px;
}

body {
  margin: 0px !important;
  width: 300px;
  background-color: rgb(46, 45, 45);
  color: white;
  font-family: Verdana, sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(114, 114, 114);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(114, 114, 114);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.options {
  margin: 20px;
}

.footer {
  border-top: solid white 5px;
}

.footer-items-container {
  list-style-type: none;
  justify-content: center;
  padding: 0px;
  margin: 10px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-items {
  display: inline;
}

.footer-links {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-links:hover {
  color: rgb(170, 170, 170);
}

.footer-links:active {
  color: rgb(114, 114, 114);
}
